= form_for(@translator) do |f|
  - if @translator.errors.any?
    #error_explanation
      %h2
        = pluralize(@translator.errors.count, "error")
        prohibited this translator from being saved:
      %ul
        - @translator.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :locale_id
    %br/
    = f.select(:locale_id, locale_list(@locales), { :include_blank => false })
  .field
    = f.label :password
    %br/
    = f.text_field :password
  .actions
    = f.submit
