%h1 Listing translators
%table
  %tr
    %td
      %strong ID
    %td
      %strong Name
    %td
      %strong Locale
    %td
      %strong Email
    %th
      %strong admin
    %th
    %th
  - @translators.each do |translator|
    %tr
      %td= translator.id
      %td= translator.name
      - translator_locale = translator.locale
      %td= translator_locale.name
      %td= translator.email
      %td= translator.admin
      %td= raw("&nbsp;")
      %td= link_to 'Show', translator
      %td= link_to 'Edit', edit_translator_path(translator)
      %td= link_to 'Destroy', translator, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Translator', new_translator_registration_path