= javascript_include_tag "jquery.elastic.source.js"
= javascript_include_tag "jquery.js"

:javascript
  //
  jQuery.noConflict();
  jQuery(document).ready(function(){
    jQuery('textarea').elastic();
    jQuery('textarea').trigger('update');
  });
  //

= form_for [@corresponding_phrase, @translation] do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2
        = pluralize(@translation.errors.count, "error")
        prohibited this translation from being saved:
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg
  %br
  %div
    %p
      = t("traduction pour")
      = "»"
  %div
    %div
      %p= Translation.where(:locale_id => 1).where(:phrase_id => @translation.phrase_id).first.text
  .field
    = f.text_area :text, :class => 'input', :style => "max-height: 100px;"
  .actions
    = f.submit