= form_for(@translation) do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2
        = pluralize(@translation.errors.count, "error")
        prohibited this translation from being saved:
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg

  = @current_translator.locale_id
  = @corresponding_phrase.key
  .field
    = f.label :Primary_updated
    = f.check_box :Primary_updated
  .field
    = "traduction pour : " + @translation.phrase.key
    = f.text_field :text
  .actions
    = f.submit