= form_for [@corresponding_phrase, @translation] do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2
        = pluralize(@translation.errors.count, "error")
        prohibited this translation from being saved:
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg
  .span4.autoresize
    %h3= t("traduction pour »")
    %p= Translation.where(:locale_id => 1).where(:phrase_id => @translation.phrase_id).first.text
  .field
    = f.text_area :text
  .actions
    = f.submit