= form_for [@corresponding_phrase, @translation] do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2
        = pluralize(@translation.errors.count, "error")
        prohibited this translation from being saved:
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg

  %br
  .field
    = "traduction pour : " + @translation.phrase.en_value
    = f.text_field :text
  .actions
    = f.submit