= form_for(@translation) do |f|
  - if @translation.errors.any?
    #error_explanation
      %h2
        = pluralize(@translation.errors.count, "error")
        prohibited this translation from being saved:
      %ul
        - @translation.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :Primary_updated
    %br/
    = f.check_box :Primary_updated
  .field
    = f.label :text
    %br/
    = f.text_field :text
  .field
    = f.label :previous_text
    %br/
    = f.text_field :previous_text
  .field
    = f.label :phrase_id
    %br/
    = f.number_field :phrase_id
  .field
    = f.label :phrase
    %br/
    = f.text_field :phrase
  .field
    = f.label :locale_id
    %br/
    = f.number_field :locale_id
  .field
    = f.label :locale
    %br/
    = f.text_field :locale
  .actions
    = f.submit