%td= translation.text

%td= @relevant_phrase_text[translation.phrase_id]

- if !translation.need_updated?
  %td= translation.updated_at.to_date
- else
  %td= translation.created_at.to_date

- if (can? :update, translation)
  %td= link_to 'Edit', edit_translation_path(translation), :class => 'btn btn-warning'