%h1 Listing translations
%table#translations-table
  %tr.bottom_border
    %td
      %strong 
        #normal Translation
    %td
      %strong 
        #normal English Value
    %td
      %strong Translator
    %td
      %strong
        #skinny Locale
    %td
      %strong
        #skinny status
    %td
      %strong 
  - @translation = Translation.new 
  - @translations.each do |translation|
  - @translation = translation
    - if translation.need_updated?
      %tr#red
        = render 'translation_row'
    - else
      %tr#green
        = render 'translation_row'
%br
%br
%strong représentation "YAML" des clés et des valeurs du hash correspondant aux traductions de cette locale 
%br
= raw(hash_to_export(@yml_hash, "", "&nbsp;", "<br />"))
%br
%strong Affichage brut des clés et des valeurs du hash correspondant aux traductions de cette locale : 
= @locale.name
%br
- YmlLoader.export_hash_to_yaml_locale(hash_to_export(@yml_hash, "", " ", "\n"), @locale)
%br
= @yml_hash

