.page-header
  %div
    .alert.alert-grey
      %h1= "#{t("la_langue")} #{@locales_name[current_translator.locale.name]}."
      .offset02= "De plus, les traductions sont effectuées par #{current_translator.name}"
    .span2.offset4
      .offset03
        = link_to t('create yml file'), locale_yml_files_path(@locale), :class => 'btn btn-large white'
%br
.alert.alert-grey
  %table.table#translation-table
    %tr.offset-01
      %td
        %strong
          .span2= t("translation")
      %td
        %strong
          .span2= t("english_value")
      %td
        %strong
          .span3= t("update_or_create_date")
      %td
        %strong
          .span2.offser05= t('Edit')

- @create_date.each do |key, date|
  %table.table#translation-table
    - @translations.each do |translation|
      - if translation.need_updated? && translation.created_at.to_date != @latest_translation_load_date &&
        - if translation.created_at.to_date.to_s == date.to_s
          %tr.alert.alert-error
            %td
              %i.icon-exclamation-sign
              %i.icon-exclamation-sign
              = t('still_to_do_since')
              = date
              = render 'translation_row', :translation => translation

.alert.alert-warning
  %i.icon-question-sign
  %i.icon-exclamation-sign
  = t('new_to_translate_since')
  = @latest_translation_load_date
  %br
  %table.table#translation-table
    - @translations.each do |translation|
      / = @latest_translation_load_date.to_s + "=>" + translation.updated_at.to_date.to_s
      / %br
      - if translation.need_updated? && translation.created_at.to_date == @latest_translation_load_date
        %tr= render 'translation_row', :translation => translation

- @update_date.each do |key,  date|
  .alert.alert-success
    %i.icon-ok-sign
    = t('what_has_been_done_on')
    = date
    %table.table#translation-table
      - @translations.each do |translation|
        - if !translation.need_updated? && translation.updated_at.to_date.to_s == date.to_s
          %tr= render 'translation_row', :translation => translation


