%h1 Listing translations
%table#translations-table
  %tr.bottom_border
    %td
      %strong 
        #normal Translation
    %td
      %strong 
        #skinny Translator
    %td
      %strong 
        #normal English Value
    %td
      %strong
        #skinny Locale
    %td
      %strong
        #skinny status
    %td
      %strong 
  - @translations.each do |translation|
    %tr
      %td= translation.text
      %td= Translator.find(translation.translator_id).name
      /%td= Phrase.find(translation.phrase_id)
      /%td= Locale.find(translation.locale_id)
      - current_locale = Locale.where(:name => :en).first
      %td= current_locale.translations.where(:phrase_id => translation.phrase_id).first.text
      %td= Locale.find(translation.locale_id).name
      %td= translation.needed_update
      - if needed_update?(translation)
        %td= link_to 'Edit', edit_translation_path(translation)
  
%br