%p#notice= notice
%p
  %b Text:
  = @translation.text
%p
  %b Author:
  = @translation.author
%p
  %b Original text:
  = Translation.where(:locale_id => 1).where(:phrase_id => @translation.phrase_id).first.text
%p
  %b Locale:
  = Locale.find(@translation.locale_id).name

= link_to 'Edit', edit_translation_path(@translation)
|
\#{link_to 'Back', translations_path}