%p#notice= notice
%p
  %b Primary updated:
  = @translation.Primary_updated
%p
  %b Text:
  = @translation.text
%p
  %b Previous text:
  = @translation.previous_text
%p
  %b Phrase:
  = @translation.phrase_id
%p
  %b Locale:
  = @translation.locale_id
  
= link_to 'Edit', edit_translation_path(@translation)
|
\#{link_to 'Back', translations_path}