= form_for(@locale) do |f|
  - if @locale.errors.any?
    #error_explanation
      %h2
        = pluralize(@locale.errors.count, "error")
        prohibited this locale from being saved:
      %ul
        - @locale.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  / .field
  /   = f.label :primary_locale
  /   %br/
  /   = f.check_box :primary_locale
  .actions
    = f.submit
