%h1 Locales :
%table
  %tr
    %td
      %strong Locale
    %td
      %strong Missing translation
    %td
      %strong Status
    %th
      %strong
  - @locales.each do |locale|
    %tr
      %td= link_to locale.name, locale_translations_path(locale)
      %td= @missing_translation[locale.name]
      %td= primary(locale)
      %td= link_to 'Destroy', locale, confirm: 'Are you sure?', method: :delete, :class => "full-right"
%br/
= link_to 'New Locale', new_locale_path, :class => "btn full-right"