%h1 Accueil du site de traduction

%br/
= link_to 'New Locale', new_locale_path
%br
= link_to 'Locales list', locales_path
%br/
= link_to 'New translation', new_locale_path
%br/
%br
%br
- list = read_dir
= raw(list)
%br
%br
%br
%br
= link_to 'New phrase', new_locale_path
%br/
%p
  / = @information["en"]["articles"].inspect
  - indent = "----"
  / - @yml_list.each_key do |yml_name|
  /   = "=>" + yml_name + "<="
  /   = @yml_list[yml_name].class
  /   - @yml_list[yml_name].each_key do |key|
  /     = @yml_list[yml_name][key].class
  %hr
  - @yml_list["config/locales/views/articles/fr.yml"].each_key do |key|
    - if @yml_list["config/locales/views/articles/fr.yml"][key].class == Hash
      
      = indent + " | " + key
      %br
      
      - paragraph = parse_yaml(@yml_list["config/locales/views/articles/fr.yml"][key], indent)
      = raw(paragraph)
    
    - else
      = indent + @yml_list["config/locales/views/articles/fr.yml"][key]
      = " est de type = > " + @yml_list["config/locales/views/articles/fr.yml"][key].class
      %br
%hr
%br
%hr
%br
= @yml_list
