%h1 Accueil du site de traduction

%br/
= link_to 'New Locale', new_locale_path
%br
= link_to 'Locales list', locales_path
%br/
= link_to 'New translation', new_locale_path
%br/
%br
%br
- list = read_dir
/= raw(list)
%br
= link_to 'New phrase', new_locale_path
%br/
%p
  / = @information["en"]["articles"].inspect
  - indent = "--"
  - @yml_list.each_key do |yml_name|
    - paragraph = parse_yaml(@yml_list, indent)
    = raw(paragraph)
    / %hr
    / = "==> " + yml_name
    / %br
    / - @yml_list[yml_name].each_key do |key|
    /   - if @yml_list[yml_name][key].class == Hash
        
    /     = indent + " | " + key
    /     %br
        
    /     - paragraph = parse_yaml(@yml_list[yml_name][key], indent)
    /     = raw(paragraph)
      
    /   - else
    /     = indent + @yml_list[yml_name][key].to_s
    /     = " est de type = > " + @yml_list[yml_name][key].class.to_s
    /     %br
%hr
%br
%hr
%br
= @yml_list
