%td= translation.text

%td= @relevant_phrase_text[translation.phrase_id]

/ - if translation.translator_id.nil?
/   %td= "nil"
/ - else
/   - corresponding_translator = translation.translator
/   %td= corresponding_translator.name
- corresponding_locale = translation.locale
%td= corresponding_locale.name
%td= translation.needed_update
- if (can? :update, translation)
  %td= link_to 'Edit', edit_translations_in_line_path(translation)