.page-header
  .alert.alert-info
    %h1#home= t("translations_in_line")
-if !@translations.empty?
  = form_tag translations_in_line_index_path, :method => :put do
    %table.table.table-striped
      %thead
        %tr
          %th.important-title#fat-path= t("translation")
          %th.important-title#fat-path= t("required_since")
          %th.important-title#fat-path= t("translation_input")
      %tbody
        - for translation in @translations
          = fields_for "translations[]", translation do |f|
            %tr
              %td
                %strong= @corresponding_phrase[translation.id]
                %br
                %span.less-important= translation.phrase.yaml_path
              %td= l(translation.created_at.to_date)
              %td= f.hidden_field :id
              %td= f.hidden_field :translator_id, :value => current_translator.id
              %td= f.text_field :text
    .span2.offset4= submit_tag
