!!!
%html
  %head
    %title DjengoTolkApplication
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to root_path, :class => "brand" do
            %i.icon-home
            = "Djengo's Translation Platform "
          .nav-collapse
            %ul.nav
              - if translator_signed_in?
                %li
                  = link_to locale_translations_path(current_translator.locale) do
                    %i.icon-book
                    = t("translation_resume")
                - if current_translator.locale.is_primary?
                  %li
                    = link_to yml_sources_path do
                      %i.icon-bookmark
                      = t("yml_source")
                - else
                  %li
                    = link_to translations_in_line_index_path do
                      %i.icon-pencil
                      = t("traduction_in_line")

            %ul.nav.pull-right
              - if translator_signed_in?
                %li
                  = link_to translator_path(current_translator) do
                    %i.icon-user.font-size16
                    %i.font-size14= current_translator.name.humanize
                %li
                  = link_to destroy_translator_session_path, :method => :delete do
                    %i.icon-eject
                    = t("logout")
              - else
                %li
                  = link_to new_translator_session_path do
                    %i.icon-lock
                    = t("login")
                %li
                  = link_to new_translator_registration_path do
                    %i.icon-plus-sign
                    = t("sign_up")
              %li
                = link_to request.fullpath do
                  %i.icon-refresh
                  = t("refresh")
    .hero-unit
      = yield