!!!
%html
  %head
    %title DjengoTolkApplication
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Djengo's Translation Platform ", root_path, :class => "brand"
          .nav-collapse
            %ul.nav
              %li= link_to t("home"), root_path
              %li= link_to t("yml_source"), yml_sources_path
              %li= link_to t("locale"), locales_path
              - if translator_signed_in?
                %li= link_to t("translation"), locale_translations_path(current_translator.locale)
                %li= link_to t("missing_translation"), locale_missing_translations_path(current_translator.locale)
            %ul.nav.pull-right
              - if translator_signed_in?
                %li= link_to t("logout"), destroy_translator_session_path, :method => :delete
              - else
                %li= link_to(t("login"), new_translator_session_path)
                %li= link_to(t("sign_up"), new_translator_registration_path)
    .hero-unit
      = yield