<%= form_for(@yml_source) do |f| %>
  <% if @yml_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yml_source.errors.count, "error") %> prohibited this yml_source from being saved:</h2>

      <ul>
      <% @yml_source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
