%h1 Listing yml_sources
%table
  %tr
    %td.bottom_border#name
      %strong Name
    %td.bottom_border
      %strong Path
    %td.bottom_border
      %strong 
    %td.bottom_border
      %strong
    %td.bottom_border
      %strong
  - @yml_sources.each do |yml_source|
    %tr
      %td= yml_source.name
      %td= yml_source.path
      %td= link_to 'Show', yml_source
      %td= link_to 'Edit', edit_yml_source_path(yml_source)
      %td= link_to 'load in DB', load_to_db_yml_sources_path + "/" + yml_source.id.to_s
      %td= link_to 'Destroy', yml_source, confirm: 'Are you sure?', method: :delete
%br/

/ :javascript
/   window.open('yml_sources/load_to_db/54', '_survey', 'height=400,width=300,status=no,menubar=no,location=no,toolbar=no');

/ %table
/   - @yml_files.each do |file|
/     %tr
/       %td= file.from(15).truncate(2, :separator => '.')
/       %td= file

= link_to 'New Yml source', new_yml_source_path

%br/

= link_to 'Phrase list', phrases_path
