.page-header
  %h1
    %i.icon-bookmark
      = raw("&nbsp;")
      = t("listing_yml_sources")
      .pull-right
        = link_to 'load all in DB', phrase_database_filler_index_path, :class => "btn"
%table
  %tr#font-size16
    %td.bottom_border#name
      %strong Name
    %td.bottom_border
      %strong Path
    %td.bottom_border
      %strong Loadind Button
  %tr#font-size14
    %td
  - @yml_sources.each do |yml_source|
    %tr#font-size14
      %td= yml_source.name
      %td= yml_source.path
      %td= link_to 'load in DB', phrase_database_filler_path(yml_source), :class => "btn"
%h1
  %i.icon-plane
    = raw("&nbsp;")
    = t("locales")
%table
  %tr#font-size16
    %td.bottom_border
      %strong Locale
    %td.bottom_border
      %strong Missing translation
    %td.bottom_border
      %strong Status
    %td.bottom_border
      %strong Option
  - @locales.each do |locale|
    %tr#font-size14
      %td= link_to locale.name, locale_translations_path(locale)
      %td= @missing_translations_quantity[locale.id]
      %td= primary(locale)
      %td= link_to t('create_yml_file'), locale_yml_files_path(locale), :class => 'btn'


/ = current_translator.locale.translations
- @yml_hash = TranslationsManager.create_translation_hash(current_translator.locale.translations)
= "--------------------"*15

= @yml_hash
%br
= raw(TranslationsManager.hash_to_export(@yml_hash, "", "&nbsp", "<br >"))